button {
  width: 10vw;
}

/* Animation for all header text on load in. */
h1, h2, h3, h4, h5, h6, p, a, button, img, #titleCard, #aboutMe, #skills, .itemsBoxList {
  animation: fadeInAnimation ease-in-out 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}

.App {
  background-color: #2e2e2e;
  color: white;
  height: 100vh;
}

.HomepageItems {
  background-color: #0e0e0e;
}

.HomepageItems button {
  display: block;
  justify-content: center;
  align-self: center;

  width: 25vw;
  margin-left: 39vw;
  right: 40%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#updateText {
  margin: 2vh 18vw 2vh 18vw;
  font-weight: lighter;
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#titleCard {
  background-image: url('./Media/backdrop_texture.jpg');
  width: 100%;
  background-position-x: 80%;
  background-position-y: 10%;
  padding: 6vh 12vw 2vh 12vw;
}

#titleCard h1 {
  font-size: 72pt;
  filter: drop-shadow(0 1.5mm 1mm black);
}

#titleCard h2 {
  text-align: left;
  color: lightgray;
  filter: drop-shadow(0 1.5mm 1mm black);
}

#aboutMe {
  background-color: black;
  padding: 2vh 12vh 2vh 12vw;
  text-align: left;
}

#aboutMe h3 {
  font-style: italic;
  color: lightgray;
  text-align: left; /* I don't understand why I need to call this and the ID to both have 'left' */
}

/* Fuck you I hate web design so fucking much. */

/* ReusableComponents Folder styling */
#developerLinks {
  display: flex;
  flex-direction: row;
}

#developerLinks img {
  height: 20pt;
}

#developerLinks button {
  margin-left: 8pt;
  filter: drop-shadow(0 1.5mm 1mm black);
}


#developerLinks h4 {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 14pt;
}

#developerLinks div:hover {
  cursor: pointer;
  background-color: white;
}

#skills {
  padding: 2vh 16vw 2vh 16vw;
}

#skills h2 {
  border-bottom: 3px solid blue;
  font-size: 30pt;
}

#skills h3 {
  padding-left: 2vw;
  text-align: left;
}

.itemsBoxList {
  background-color: #2e2e2e;
  display: flex;
  flex-wrap: wrap;
  margin-left: 2vw;
  margin-right: 2vw;
}

.itemBox {
  flex: 1;
  border-radius: 12px;
  background-color: white;
  padding: 12pt 12pt 12pt 12pt;
  margin: 1vh 0.5vw 1vh 0.5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: larger;
  font-weight: bold;

  transition: color .4s cubic-bezier(.4, 0, .2, 1);
  -webkit-transition: color .4s cubic-bezier(.4, 0, .2, 1);
  -moz-transition: color .4s cubic-bezier(.4, 0, .2, 1);
  -o-transition: color .4s cubic-bezier(.4, 0, .2, 1);
  -ms-transition: color .4s cubic-bezier(.4, 0, .2, 1);
}

.itemBox:hover {
  background-color: black;
  color: white;
}

.itemsBoxList h3 {
  text-align: left;
}

.itemsBoxList h4 {
  font-style: italic;
  padding: 0.25vh 1vw 0.5vh 1vw;
}

.itemsBoxList ul {
  padding-top: 2vh;
}

.itemBox img {
  width: 100px;
}

#projectLink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: white;
  margin-left: 18vw;
  margin-right: 18vw;
  text-align: center;

  transition: color .4s cubic-bezier(.4, 0, .2, 1);
  -webkit-transition: color .4s cubic-bezier(.4, 0, .2, 1);
  -moz-transition: color .4s cubic-bezier(.4, 0, .2, 1);
  -o-transition: color .4s cubic-bezier(.4, 0, .2, 1);
  -ms-transition: color .4s cubic-bezier(.4, 0, .2, 1);
}

#projectLink:hover {
  background-color: lightskyblue;
}

/* Footer.jsx */
#footer {
  background-color: rgb(0, 0, 0);
  height: 20vh;
}

#footer h2, h3 {
  text-align: right;
  padding: 4vh 4vw 2vh 0vw;
}

#footer h3 {
  text-align: right;
  padding: 0vh 4vw 2vh 0vw;
  color: lightgray;
}

#footer p {
  text-align: center;
}

/* Projects Styling Section */
#Projects {
  background-color: #0e0e0e;
}

#Projects h1 {
  padding: 6vh 12vw 6vh 12vw;
  font-size: 72pt;
}

#projectsPageTop {
  background-image: url('./Media/projectsBackground.jpg');
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#projectsPageBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projectContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 20px;
  padding: 2vh 2vw 2vh 2vw;
  text-align: left;
  min-width: 60%;
  margin: 0 0vw 2vh 0vw;

  transition: color .4s cubic-bezier(.4, 0, .2, 1);
  -webkit-transition: color .4s cubic-bezier(.4, 0, .2, 1);
  -moz-transition: color .4s cubic-bezier(.4, 0, .2, 1);
  -o-transition: color .4s cubic-bezier(.4, 0, .2, 1);
  -ms-transition: color .4s cubic-bezier(.4, 0, .2, 1);
}

.projectContainer:hover {
  background-color: white;
  color: black;
}

/* Hire Me Page */
#hireMe {
  background-color: #0e0e0e;
}

#hireMe h1 {
  font-size: 72pt;
  margin-left: 12vw;
  filter: drop-shadow(0 1.5mm 1mm black);
}

#pageTop {
  background-image: url("../src/Media/hireMeBackground.jpg");
  background-position-y: 60%;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#pageTop h2 {
  font-size: 36pt;
  margin-left: 12vw;
  filter: drop-shadow(0 1.5mm 1mm black);
}

#pageBody {
  margin: 0 16vw 2vh 16vw;
}

#pageBody h3 {
  text-align: left;
}

.workContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: #2e2e2e;
  border: 3px solid rgba(255, 140, 0, 0.26);
  border-radius: 20px;
  margin-bottom: 2vh;
  padding: 2vh 2vw 2vh 2vw;
  min-width: 75% 1500px !important;
}

.workContainer img {
  width: 300px;
  height: auto;
}

.workContainer p {
  font-size: 14pt;
  color:lightgray;
}

.workContainer a {
  padding: 5px 10px 5px 10px;
}

.workContainer a:hover {
  color: darkorange;
  background-color: black;
}

.workContainer section {
  padding: 0vh 1vw 0vh 1vw;
  min-width: 300px;
}


#angela {
  padding: 2vh 2vw 2vh 2vw;
}


/* Noughts and Crosses Game */
#noughtsAndCrosses {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#noughtsAndCrosses h2 {
  text-align: center;
}

.row {
  margin: 0 2vw 0 2vw;
  background-color: black;
}

.col {
  width: 20vh;
  height: 20vh;
  margin: 2.5px 2.5px 2.5px 2.5px;
  background-color: white;
}

#resetButton {
  margin-top: 2vh;
}

#queryBox {
  display: flex;
  flex-direction: column;
  margin-left: 16vw;
  margin-right: 16vw;
  align-items: center;
  
}

#queryBox form {
  display: flex;
  margin-bottom: 2vh;
  flex-direction: column;
}

#queryBox input, textarea {
  color: lightgray;
  background-color: #0e0e0e;
  border-radius: 2px;
  width: 450px;
  margin: 5px 0 5px 0;
}
